.about-grid{
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(255,254,254,1) 0%, rgba(241,241,241,1) 45%);
    padding: 3em;
}

.about-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em;
}

.about-grid-item h1 {
    width: 100%;
    padding: 1em;
    text-align: center;
    color: darkred;
    font-weight: 200;
    font-size: 38px;
    
   
}
.about-grid-item p{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-align: center;
    color: rgb(34, 34, 34);
}

.about-grid-mission{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 2px 1px 2px silver;
    border-top: 2px solid silver;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(223, 223, 223, 0.5);
}
.about-grid-mission h1{
    width: 35%;
    text-align: center;
    color: darkred;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    
}
.about-grid-mission p{
    width: 60%;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-align: center;
    color: #3c6911;
}