.projects-grid{
    width: 100%;
    padding: 10em;
}
.projectPhoto{
    width: 100%;
    height: auto;
}
.project-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}
.grid-gallery{
    padding: 10px;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.grid-gallery h1{
    font-weight: 300;
    text-transform: uppercase;
    color: darkred;
}