.footer{
    background-color:rgb(66, 66, 66);
    text-align: center;
    color: white;
    font-size: 10px;
   
}
.footer-contact {
    background: darkslategrey;
    color: white;
    font-weight: 300;
    width: 100%;
    padding: 20px 20px;
    min-height: 10em;
    border-bottom: 2px solid black;
}

.footer-contact-gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 9em;
}