.page-title-container{
    width: 100%;
    min-height: 5em;
    font-size: 48px;
    color: #3c6911;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}